<!DOCTYPE html>
<html>
<style>
    body {
        background-image:url('img/knitxing.gif');
        background-size:100%;
        background-repeat: repeat-y;
        background-attachment: fixed;

        text-align:center;
    }
     #dates {
         background-color: rgba(255,255,255,0.5);
    }
    h1{
         background-color: rgba(250,235,215,0.5);
    }
    .past {
        opacity:0.3;
    }
</style>
<body>

<div class="page-content">
    <div class="wrapper">
        {{ content }}
    </div>
</div>

</body>

</html>
